*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/Manifest.toml
/dev/
/docs/build/
/docs/site/
/docs/src/examples.md
/docs/Manifest.toml
stuff.jl
.vscode
*.swp

src/oldsrc
src/experimental

docs/src/images
test_images/
