variables:
  MODERNGL_DEBUGGING: "true"
  JULIA_DEPOT_PATH: "$CI_PROJECT_DIR/.julia/"
  CI_DEV_PKGS: "Makie#master AbstractPlotting#master GLMakie#master MakieGallery#master MakieLayout#master Proj4#master"

stages:
  - test
  - refimages

gallerytest:

  stage: test

  tags:
      - xorg

  image: "juliagpu/julia:v1.3-opengl"

  cache:
    key: ${CI_JOB_NAME}
    paths:
      - .julia/artifacts/751db842bac36f25ca3ab1ad5b24a555036938df

  before_script:
      - apt-get -qq update
      # glfw
      - apt-get install -y cmake xorg-dev mesa-utils p7zip-full

  script:
    - mkdir $JULIA_DEPOT_PATH # Pkg.jl#325
    - glxinfo | grep 'version'
    - julia -e 'using InteractiveUtils; versioninfo()'
    - julia --project -e "using Pkg;
                          pkg\"add $CI_DEV_PKGS\""
    - julia --project -e 'using Pkg; pkg"test"'

  artifacts:
    when: always
    paths:
      - test/tested_different
      - test/test_recordings
      - Project.toml
      - Manifest.toml
    expire_in: 4 days
