*.jl.*.cov
*.jl.cov
*.jl.mem
.DS_Store
/Manifest.toml
/dev/
/docs/build/
/docs/site/
/docs/src/examples
/docs/Manifest.toml
stuff.jl
.vscode
*.swp

src/oldsrc
src/experimental

docs/src/images
docs/src/examples/
docs/node_modules
docs/build/
node_modules/
docs/package-lock.json
test_images/

docs/GeoMakieDocumenterBlocks/Manifest.toml
.qodo
**/gmt.history
